{% extends "/layouts/main.twig" %}

{% set xdata = 'plans' %}
{% block title p__('title', 'Plans')|title %}

{% block template %}
<div>
  {% include "snippets/back.twig" with {link: 'app/billing', label: p__('button', 'Billing overview')} %}

  {# <div class="flex items-center gap-4 mt-4">
    <h1>{{ p__('heading', 'Plans') }}</h1>

    <a href="./#pricing" target="_blank" class="badge">
      <i class="ti ti-external-link"></i>
      {{ __('View detailed pricing table') }}
    </a>
  </div> #}
</div>
  
{# List #}
<div class="group/list" data-state="initial" :data-state="state">
  {# <div class="hidden group-data-[state=empty]/list:block">
    {% include "sections/empty.twig" with { title: p__('heading', 'Not available'), message: __('Subscriptions are disabled currently. Please come back later.'), reset: __('There are no documment matching your search.') } %}
  </div> #}
{# <div>
  {{ user.workspace.subscription.plan.id | json_encode(constant('JSON_PRETTY_PRINT')) }}
</div> #}

<div class="flex" id="custom-plans" data-workspace="{{user.current_workspace_id}}" data-subscription="{{user.workspace.subscription.plan.id}}"></div>

</div>
{% endblock %}